<%- include("header") -%>

<div id="heading">
  <h1><%= listTitle %></h1>
</div>

<table>
  <caption>Task Table</caption>
  <thead>
    <tr>
      <th><!-- Intentionally Blank --></th>
      <th>Urgent</th>
      <th>Not Urgent</th>
    </tr>

    <tr></tr>
  </thead>

  <tbody>
    <tr>
      <th>Important</th>
      <td>item1</td>
      <td>item2</td>
    </tr>
    <tr>
      <th>Not Important</th>
      <td>item3</td>
      <td>item4</td>
    </tr>
  </tbody>
</table>

<div class="box">
  <% newListItems.forEach(function(item){%>
  <form>
    <div class="item">
      <p><%= item.name %></p>
      <p><%= item.urgent %></p>
      <p><%= item.important %></p>
      <p><%= item.timeNeed %></p>
    </div>
  </form>
  <% });%>
</div>

<%- include("footer") -%>
